body {
  background-image: url("../vendor/images/welcomepage/grid.jpg");
  font-family: 'Open Sans';
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.vertical-spacer {
  height: 7em;
}

/* NAVBAR */

nav {
  background-color: #222;
}

nav a {
  color: #aaa;
  text-decoration: none;
}

nav a:hover {
  color: #ddd;
}

/* WELCOME PAGE (NOT CONNECTED), SIGNUP AND LOGIN PAGE */

.wrapper {
  background-size: cover;
  color: white;
  padding-top: 150px;
  text-align: center;
}

#wrapper-index {
  background-image: url("../vendor/images/welcomepage/background/background.jpg");
  height: 650px;
}

#wrapper-signup {
  background-image: url("../vendor/images/welcomepage/background/bg-signup.jpg");
  height: 400px;
}

#wrapper-login {
  background-image: url("../vendor/images/welcomepage/background/bg-login.jpg");
  height: 400px;
}

.wrapper h1 {
  font-size: 72px;
  font-weight: normal;
  text-shadow: 0 0 20px rgba(0, 0, 0, .8);
}

.wrapper h2 {
  background: rgba(0, 0, 0, .4);
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 2em;
  padding: 0.2em;
}

.feature p {
  font-weight: 300;
  letter-spacing: 1px;
}

.feature img {
  margin-bottom: 2em;
}

.center_div {
  margin: 0 auto;
}

/* FORMS */

.register-form {
  margin-top: 30px;
  padding: 2em;
  text-align: center;
}

.register-form input::placeholder {
  color: #929191c5;
}

@media (min-width: 768px) {
  .register-form {
    max-width: 700px;
  }
  .register-form input[type="date"] {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .register-form .form-group {
    font-size: 13px;
  }
  .register-form input::placeholder {
    color: #929191c5;
    font-size: 13px;
  }
  .register-form input[type="date"] {
    font-size: 15px;
  }
}

.register-form .form-group label {
  font-family: "Roboto Mono";
  font-weight: 300;
}

.register-form .form-check {
  margin-top: 30px;
}

.register-form button {
  margin-top: 20px;
}

.form_message_error {
  display: inline-block;
  color: red;
  font-size: 12px;
  margin-top: 10px;
}

/* PROFILE */

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header {
  position: relative;
}

.cover-buttons {
  bottom: 30px;
  position: absolute;
}

.edit-button {
  right: 50px;
}

.delete-button {
  right: 30px;
}

/* ACCOUNT SETTINGS */

#wrapper-settings {
  background-image: url("../vendor/images/accountpage/background.jpg");
  height: 400px;
}

.delete-button a {
  color: #fff;
  text-decoration: none;
}

/* EDIT PROFILE PAGE */

#wrapper-edit-profile {
  background-image: url("../vendor/images/editpage/background.jpg");
  height: 400px;
}

/* FOOTER */

footer {
  background-color: #222;
  color: #aaa;
  padding-top: 3em;
  padding-bottom: 3em;
}

footer a {
  color: #aaa;
}

footer a:hover {
  color: #ddd;
}

.push {
  height: 37px;
}

/* HOME */

.home-feed {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-row-gap: 4em;
  margin: 2em 0em;
}

.track-wrapper {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr 0.5fr;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: solid;
  border-radius: 10px;
  border-color: grey;
  padding: 1em;
}

.track-wrapper a {
  grid-column: 2;
  margin-top: 0.5em;
}

.track-wrapper h3 {
  font-size: 1.1em;
}

.track-cover {
  grid-column: 1;
  grid-row: 2;
  margin-left: 2em;
}

.track-cover {
  height: 220px;
}

.track-content {
  display: grid;
  grid-template-rows: 2fr 1fr;
  /* Different behavior on Chrome/Firefox
  margin-left: auto;
  margin-right: auto; */
}

.track-content audio {
  margin: 3em 1em 2em 1em;
}

.track-info {
  grid-row: 2;
  margin-top: 1em;
}

@media only screen and (max-width: 768px) {
  .home-feed {
    grid-template-columns: 1fr 4fr 1fr;
  }
  .track-wrapper {
    grid-template-rows: 0.5fr 2fr 1fr;
  }
  .track-wrapper h2 {
    grid-column: 1;
  }
  .track-cover {
    grid-column: 1;
    grid-row: 2;
    margin: auto;
  }
  .track-cover {
    height: 300px;
  }
  .track-content {
    grid-column: 1;
  }
  .track-info {
    margin-top: 1em;
  }
}

.track-wrapper .likes {
  grid-column: 2;
  grid-row: 3;
}

/* ALL EVENTS PAGE */

.card-events {
    max-width: 100%;
    height: 200px;
}
