body {
  background-image: url("../vendor/images/welcomepage/grid.jpg");
  font-family: 'Open Sans';
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.track-likes {
  cursor: pointer;
}

.vertical-spacer {
  height: 7em;
}

/* NAVBAR */

nav {
  background-color: #222;
}

nav a {
  color: #aaa;
  text-decoration: none;
}

nav a:hover {
  color: #ddd;
}

/* WELCOME PAGE (NOT CONNECTED), SIGNUP AND LOGIN PAGE */

.wrapper {
  background-size: cover;
  color: white;
  padding-top: 150px;
  text-align: center;
}

#wrapper-index {
  background-image: url("../vendor/images/welcomepage/background/background.jpg");
  height: 650px;
}

#wrapper-signup {
  background-image: url("../vendor/images/welcomepage/background/bg-signup.jpg");
  height: 400px;
}

#wrapper-login {
  background-image: url("../vendor/images/welcomepage/background/bg-login.jpg");
  height: 400px;
}

.wrapper h1 {
  font-size: 72px;
  font-weight: normal;
  text-shadow: 0 0 20px rgba(0, 0, 0, .8);
}

.wrapper h2 {
  background: rgba(0, 0, 0, .4);
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 2em;
  padding: 0.2em;
}

.feature p {
  font-weight: 300;
  letter-spacing: 1px;
}

.feature img {
  margin-bottom: 2em;
}

.center_div {
  margin: 0 auto;
}

/* FORMS */

.register-form {
  margin-top: 30px;
  padding: 2em;
  text-align: center;
}

.register-form input::placeholder {
  color: #929191c5;
}

@media (min-width: 768px) {
  .register-form {
    max-width: 700px;
  }
  .register-form input[type="date"] {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .register-form .form-group {
    font-size: 13px;
  }
  .register-form input::placeholder {
    color: #929191c5;
    font-size: 13px;
  }
  .register-form input[type="date"] {
    font-size: 15px;
  }
}

.register-form .form-group label {
  font-family: "Roboto Mono";
  font-weight: 300;
}

.register-form .form-check {
  margin-top: 30px;
}

.register-form button {
  margin-top: 20px;
}

.form_message_error {
  display: inline-block;
  color: red;
  font-size: 12px;
  margin-top: 10px;
}

/* PROFILE */

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header {
  position: relative;
}

.cover-buttons {
  bottom: 30px;
  position: absolute;
}

.edit-button {
  right: 50px;
}

.delete-button {
  right: 30px;
}

.delete-button {
  margin-left: 10px;
}

/* ACCOUNT SETTINGS */

#wrapper-settings {
  background-image: url("../vendor/images/accountpage/background.jpg");
  height: 400px;
}

.delete-button a {
  color: #fff;
  text-decoration: none;
}

/* EDIT PROFILE PAGE */

#wrapper-edit-profile {
  background-image: url("../vendor/images/editpage/background.jpg");
  height: 400px;
}

/* FOOTER */

footer {
  background-color: #222;
  color: #aaa;
  padding-top: 3em;
  padding-bottom: 3em;
}

footer a {
  color: #aaa;
}

footer a:hover {
  color: #ddd;
}

.push {
  height: 37px;
}

/* HOME */

#home-container {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

#home-container h2 {
  margin: 1em 0em;
}

.content-image {
  max-height: 200px;
  max-width: 450px;
}

.content-container {
  text-align: center;
  border-style: solid;
  border-color: darkgray;
  border-radius: 10px;
  margin-bottom: 10px;
}

.content-container h3 {
  margin: 1em 0em;
}

.content-container img {
  margin: 1em 0em;
}

.content-container audio {
  margin: 1em 0em;
}

.home-sidebar h3 {
  margin: 1em 0em;
}

.track-listenings {
  margin: 0em 1em;
}

.track-likes {
  margin: 0em 1em;
}

.event-users {
  margin: 0em 0.5em;
}

.event-date {
  margin: 0em 0.5em;
}

.listening-number {
  margin: 0.5em;
}

.like-number {
  margin: 0.5em;
}

/* ALL EVENTS PAGE */

.card-events {
    max-width: 100%;
    height: 200px;
}

/* EVERYWHERE */

#comments img {
  height: 70px;
}

.spacer {
  margin-top: 30px;
}

#comments p {
  margin-top: 13px;
}

/* CHARTS */

#wrapper-charts {
  background-image: url("../vendor/images/charts.jpg");
  height: 400px;
}
